.divclass h1{
color: rgb(182, 0, 0);
}
img{
    width: 400px;
}
#spanid{
   font-size: 18px;
   margin: 50px;
}


#thirddiv {
   height: 600px;
   width: 400px;
   padding: 50px;
   background-color: forestgreen;
   border: 10px solid blue
}
